*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav img{
    width: 150px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.textbox{
    color: white;
    width: 90%;
    text-align: center;
}
.textbox h1{
    font-size: 62px;
}
.textbox p{
    margin: 10px 0px 40px 0px;
    font-size: 14px;
    color: white;
}
.master_btn{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
}
.master_btn:hover{
    border: 1px solid brown;
    background-color: brown;
}
/* ----------------------Course------------------------ */
.course{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
}
p{
    color: #777;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-column{
    flex-basis: 31%;
    background: #8b9af0;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-bottom: 5px;
    transition: 0.5s; /*type this after hover*/
    
}
.course-column:hover{
    box-shadow: 0px 0 20px 0 rgba(0,0,0,0.7);
}
/* --------------Call to action---------------- */
.cta{
    margin: 100px auto;
    width: 80%;
    padding: 100px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0; /*if needed*/
}
/* ------------------------Footer-------------------- */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}
.footer h4{
    margin-bottom: 25px;
}
/* -----------------------About Us Page------------------- */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white ; 
}
.sub-header h1{
    margin-top: 50px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{                         
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
/* .about-col{
    width: 50%;
    padding: 10px;
}
.about-col img{
    width: 600px;
    height: 400px;
} */
.about-col p{
    text-align: justify; 
   
}
/* ------------Blog Page---------- */
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    margin: 30px 0;
}
.blog-left p{
    text-align: justify;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: tomato;
    color: white;
    padding: 7px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/* --------------Contact Us Page--------------- */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas, .fa, .far{
    font-size: 28px;
    color: #f44336;
    margin: 10px 30px 10px 10px;
}
/* .contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px 30px 10px 10px;
}
.contact-col div .far{
    font-size: 28px;
    color: #f44336;
    margin: 10px 30px 10px 10px;
} */
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}
.red_btn{
    background-color: red;
}
.contact-col input, textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}